<div class="container">
  <h1 class="page-header">Edit Booking</h1>
  <%= simple_form_for([@vehicle,@booking]) do |f| %>
    <%= f.input :date_from %>
    <%= f.input :date_to %>
    <%= f.input :comment %>
    <%# <%= f.input :vehicle_id%>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back", booking_path , class: 'btn btn-primary'%>
</div>
