<div class="container">
  <h1>Edit Booking</h1>
  <%= simple_form_for([@vehicle,@booking]) do |f| %>
    <%= f.input :date_from %>
    <%= f.input :date_to %>
    <%= f.input :comment %>
    <%# <%= f.input :vehicle_id%>
    <%= f.submit %>
  <% end %>
</div>
