<div class="container d-flex flex-column align-items-center w-75">
  <h1 class="page-header">My Bookings</h1>
  <div class="index-grid w-100">
    <% @bookings.each do |booking| %>
      <div class="card">
        <h4>Name:<%= booking.user.first_name %> Booking id:<%= booking.id %></h4>
        <p>From: <%= booking.date_from %> </p>
        <p> To:<%= booking.date_to %></p>
        <p><%= booking.comment %></p>
        <%= link_to "Details", booking_path(booking) %>
      </div>
    <% end  %>
  </div>
  <%= link_to "Back", root_path , class: 'btn btn-primary'%>
</div>
