<div class="container">

  <h1 class="page-header">New Booking</h1>
  <%= simple_form_for([@vehicle,@booking]) do |f| %>
    <%= f.input :date_from %>
    <%= f.input :date_to %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
