<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "white-car.svg", class: "car" %>
    <% end %>
    <%= image_tag "name-logo-white.png", class: "logoname" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Vehicles", vehicles_path, class: "nav-link" %>
          </li>
          <% if current_user  %>
          <%# <li class="nav-item active"> %>
            <li class="nav-link">
              <p><%= current_user.first_name %> <%= current_user.last_name %></p>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag "user-icon.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%= link_to "Home", root_path, class: "dropdown-item"%>

              <%= link_to "Notifications", "#", class: "dropdown-item" %>
              <%= link_to "Account Settings", "#", class: "dropdown-item" %>
              <% if current_user  %>
                <%= link_to "My Bookings", bookings_path, class: "dropdown-item"%>
                <%= link_to "My Vehicles", my_vehicles_path, class: "dropdown-item"%>
                <%= link_to "Booking Requests", my_bookings_path, class: "dropdown-item"%>
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item"%>
              <% else  %>
                <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
                <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
          </li>
      </ul>
    </div>
  </div>
</div>
