<!-- banner, can change image later -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.kayak.com.au/news/wp-content/uploads/sites/23/2018/06/1.-the-nullabor-plain-australia-1.jpg);">
  <div>
    <h1 class="heading">Looking to rent a car?</h1>
    <p class="heading">Find affordable car hire options in Australia</p>
    <!-- placeholder searchbar just for how it looks, needs searchbar logic -->
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: vehicles_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Location"
          %>
          <%= text_field_tag :vehicle,
            params[:vehicle],
            class: "form-control",
            placeholder: "Make/Model"
          %>
          <div class="d-flex align-items-center form-control">
            <%= check_box_tag(:automatic) %>
            <%= label_tag(:automatic, "Automatic") %>
            <%= check_box_tag(:manual) %>
            <%= label_tag(:manual, "Manual") %>
          </div>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Cards Required -->
<div class="container" id="content-container">
  <div class="cards">
  <p>Cards go here if required</p>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by LL squad
  </div>
</div>
