<!-- banner, can change image later -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.kayak.com.au/news/wp-content/uploads/sites/23/2018/06/1.-the-nullabor-plain-australia-1.jpg);">
  <div class="row justify-content-center">
    <h1 class="col-sm-8 ps-4">Looking to rent a car?</h1>
    <p class="col-sm-8 ps-4">Find affordable car hire options in Australia</p>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: vehicles_path, method: :get, class: "d-flex main-search-bar" do %>
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Location"
          %>
          <%= text_field_tag :vehicle,
            params[:vehicle],
            class: "form-control",
            placeholder: "Make/Model"
          %>
          <div class="d-flex align-items-center justify-content-around form-control">
            <div class="d-flex align-items-center justify-content-between">
              <%= check_box_tag(:automatic, "1", false, class: "me-2") %>
              <%= label_tag(:automatic, "Automatic") %>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <%= check_box_tag(:manual, "1", false, class: "me-2") %>
              <%= label_tag(:manual, "Manual") %>
            </div>
          </div>
          <%= submit_tag "Search", name: "", class: "btn btn-primary h-100 m-0" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Cards Required -->
<div class="container" id="content-container">
  <div class="cards">
  <p>Cards go here if required</p>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by LL squad
  </div>
</div>
