<h1 class="page-header">Your listed Vehicles</h1>
<div class="container">
  <ul class="w-100">
    <% @my_vehicles.each do |car| %>
      <div class="card w-100">
        <li>
          <h4><%= link_to car.make, vehicle_path(car)%> <%= car.model %> - <%= car.year %></h4>
          <h5>Price: $<%= car.price_per_day %> per day</h5>
          <p>Capacity: <%= car.number_of_passengers %></p>
          <p><%= car.transmission.capitalize %></p>
        </li>
      </div>
    <% end %>
  </ul>

  <div class="btns-div">
    <%= link_to "Back", root_path , class:"back-btn"%>
  </div>

</div>
