<div class="container w-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="page-header my-3"> Bookings made on your vehicles </h1>
  <% if @my_bookings.blank? %>
    <h3 class="my-5">You have no booking requests yet</h3>
  <% end %>
  <div class="index-grid w-100">
  <% @my_bookings.each do |booking| %>
    <div class="card w-100 d-flex flex-column">
      <div class="d-flex align-items-center justify-content-center my-2">
        <h3><%= booking.vehicle.year %> <%= booking.vehicle.make %> <%= booking.vehicle.model %></h3>
      </div>
        <p>Date from: <%= booking.date_from %></p>
        <p>Date to: <%= booking.date_to %></p>
        <p>Comment: <%= booking.comment %></p>
        <% if booking.confirmation_status == nil %>
          <div class="d-flex align-items-center">
            <%= simple_form_for booking, url: my_booking_path(booking), method: :patch do |f| %>
              <%= f.hidden_field :confirmation_status, value: "approved" %>
              <%= f.button :submit, "Approve" %>
            <% end %>
            <%= simple_form_for booking,  url: my_booking_path(booking), method: :patch do |f| %>
              <%= f.hidden_field :confirmation_status, value: "rejected" %>
              <%= f.button :submit, "Reject" %>
            <% end %>
          </div>
          <% else %>
            <p>Status: <%= booking.confirmation_status.capitalize %></p>
            <%= simple_form_for booking,  url: my_booking_path(booking), method: :patch do |f| %>
              <%= f.hidden_field :confirmation_status, value: "cancelled" %>
              <% if booking.confirmation_status != "cancelled" %>
                <%= f.button :submit, "Cancel", data: { turbo_confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="btns-div">
    <div>
      <%= link_to "Back", vehicles_path , class:"back-btn"%>
    </div>
  </div>
</div>
