<div class="container">
  <h2> View all vehicles available for hire </h2>
  <ul>
  <% @vehicles.each do |vehicle| %>
    <div class="card">
      <li>
        <h4><%= vehicle.make%> <%= vehicle.model %> - <%= vehicle.year %></h4>
        <h5>Price: $<%= vehicle.price_per_day %></h5>
        <p>Capacity: <%= vehicle.number_of_passengers %></p>
        <p><%= vehicle.transmission.capitalize %></p>
      </li>
    </div>
    <% end %>
  </ul>
</div>
