<div class="container d-flex flex-column align-items-center w-75">
  <h1 class="page-header"> All available vehicles </h1>
  <div class="index-grid w-100">
    <% @vehicles.each do |vehicle| %>
      <div class="card">
        <h4><%= link_to vehicle.make, vehicle_path(vehicle)%> <%= vehicle.model %> - <%= vehicle.year %></h4>
        <h5>Price: $<%= vehicle.price_per_day %> per day</h5>
        <p>Capacity: <%= vehicle.number_of_passengers %></p>
        <p><%= vehicle.transmission.capitalize %></p>
      </div>
    <% end %>
  </div>
  <%= link_to "Back", root_path , class: 'btn btn-primary'%>
</div>

<div class="container">
  <!-- Testing mapbox, will need to be formatted and placed correctly -->
  <%= render "vehicles/mapbox" %>
</div>
