<div class="container d-flex flex-column align-items-center p-2 border rounded">
  <div class="show-vehicle-photo w-75 d-flex align-items-center justify-content-center">
    <p>PHOTO GOES IN HERE</p>
  </div>
  <div class="d-flex align-items-center justify-content-center w-75">
    <h3><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h3>
  </div>
  <div class="w-75">
    <p class="font-weight-bold d-inline">Price per day:</p>
    <p>$<%= @vehicle.price_per_day %></p>
    <p class="font-weight-bold d-inline">Capacity:</p>
    <p><%= @vehicle.number_of_passengers %></p>
    <p class="font-weight-bold d-inline">Transmission:</p>
    <p><%= @vehicle.transmission.capitalize %></p>
    <p class="font-weight-bold d-inline">Location:</p>
    <p><%= @vehicle.location %></p>
    <p><%= @vehicle.description %></p>
  </div>
</div>
